body {
    font-family: Arial, sans-serif; /* Menentukan font yang digunakan untuk teks secara keseluruhan */
    background-color: #f2f2f2; /* Mengatur warna latar belakang halaman */
    display: flex; /* Menggunakan flexbox untuk pengaturan tata letak */
    justify-content: center; /* Menempatkan konten di tengah secara horizontal */
    align-items: center; /* Menempatkan konten di tengah secara vertikal */
    height: 100vh; /* Mengatur tinggi halaman penuh (viewport height) */
    margin: 0; /* Menghilangkan margin default halaman */
}

.login-container {
    background-color: #ffffff; /* Mengatur warna latar belakang kotak login */
    padding: 20px; /* Memberikan ruang di dalam kotak login */
    border-radius: 8px; /* Membuat sudut kotak login menjadi melengkung */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk efek elevasi */
    width: 300px; /* Mengatur lebar kotak login */
    text-align: center; /* Mengatur teks di dalam kotak agar rata tengah */
}

h2 {
    margin-bottom: 20px; /* Menambahkan jarak di bawah judul */
    color: #333333; /* Mengatur warna teks judul */
}

label {
    display: block; /* Membuat label sebagai blok agar berada di baris terpisah */
    margin-bottom: 8px; /* Menambahkan jarak di bawah label */
    color: #666666; /* Mengatur warna teks label */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Mengatur lebar input agar penuh dalam container */
    padding: 10px; /* Menambahkan ruang di dalam input */
    border: 1px solid #cccccc; /* Mengatur batas input dengan warna abu-abu */
    border-radius: 5px; /* Membuat sudut input melengkung */
    box-sizing: border-box; /* Menghitung padding dan border dalam lebar total */
}

button {
    width: 100%; /* Mengatur lebar tombol agar penuh dalam container */
    padding: 10px; /* Menambahkan ruang di dalam tombol */
    margin-top: 5px; /* Menambahkan sedikit jarak di atas tombol */
    background-color: cyan; /* Mengatur warna latar belakang tombol */
    color: white; /* Mengatur warna teks tombol */
    border: none; /* Menghapus garis batas tombol */
    border-radius: 4px; /* Membuat sudut tombol melengkung */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat diarahkan ke tombol */
    font-size: 16px; /* Mengatur ukuran font tombol */
}

button:hover {
    background-color: green; /* Mengubah warna tombol saat diarahkan mouse */
    transition: 0.5s; /* Menambahkan efek transisi selama 0,5 detik pada hover */
}
